/*Global*/
body {
  background-image: url("../images/collage.png");
  background-color: #2b58bf;
}



/*Content Section*/

#playSpace {
  /*background-color: gray;*/
  background: linear-gradient(#565860, black);
  width: 450px;
  height: 700px;
  text-align: center;
  margin: 25px auto;
  border-radius: 10px;
}

.title {
  background-color: #919aaa;
  position: relative;
  top: 0px;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.image {
  height: 100px;
  border-radius: 5px;
}

.pauseBtn {
  height: 20px;
  width: 50px;
  font-size: 10px;
  border-style: outset;
  margin-top: 5px;
  padding: 1px;
}

h1 {
  font-family: 'Baloo Tamma', 'Impact', sans-serif;
  color: green;
  font-size: 74px;
  margin-bottom: -15px;
}

h2 {
  font-family: 'Bubblegum Sans', 'Cominc Sans MS', cursive;
  color: orange;
  font-size: 46px;
  padding-bottom: 10px;
  border-bottom: 2px solid #b3bac6;
}

p {
  color: #b3bac6;
  font-family: 'Bubblegum Sans', 'Cominc Sans MS', cursive;
  font-size: 20px;
  margin: 15px 0 0 0;
}

/*javascript styles*/

.letterDiv {
  color: #b3bac6;
  font-family: 'Bubblegum Sans', 'Cominc Sans MS', cursive;
  font-size: 20px;
  display: inline-block;
  margin: 3px;
  }

  .winLoss {
    color: #dd5b1f;
    font-family: 'Bubblegum Sans', 'Cominc Sans MS', cursive;
    font-size: 20px;
    display: inline-block;
    margin: 3px;
    }

@media screen and (max-width:600px) {
  body {
    background-image: url();
    background-color: #2b58bf;
  }
